*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    

}
h1{
    color:#f1f1f7;
    font-size: 40px;
    font-style: italic;
    position: absolute;
    top:20%;
    left:40%
    
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    height :100vh;
    background: #000;
}
.clock{
    width: 250px;
    height:250px;
    background-color: #f1f1f7;
    border-radius: 50%;
    position:relative;
    border:6px solid rgb(238, 31, 31);
    display:flex;
    justify-content: center;
    align-items: center;


}
.dot{
    width:10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    position:absolute;
    top: 49%;
    left:cal(50%-5px);

}
.sec-hand{
    position: absolute;
    width: 1px;
    height:50%;
    top:10%;
    left:50%;
     transform-origin: 50% 80%;
    border-radius: 100% 100% 0 0;
    background-color: rgb(66, 24, 234);
}
.hr-hand{
    position: absolute;
    width: 2px;
    height:25%;
    top:30%;
    left:50%;
    transform-origin: 50% 80%;
    border-radius: 100% 100% 0 0;
    background-color: darkgreen;
    
}
.min-hand{
    position: absolute;
    width: 2px;
    height:40%;
    top:17%;
    left:50%;
    transform-origin: 50% 80%;
    border-radius: 100% 100% 0 0;
    background-color: rgb(216, 27, 198);
}

span{
    display:inline-block;
}
.num span{
    width:30px;
    height:32px;
    line-height: 32px;
    color:blueviolet;
    text-align: center;
    vertical-align: middle;
}
.num{
    position:absolute;
    height: 230px;
}
.num1{
    transform: rotate(30deg);
}
.num1 span{
    transform: rotate(-30deg);
} 
.num2{
    transform: rotate(60deg);
}
.num2 span{
    transform: rotate(-60deg);
}
.num3{
    transform: rotate(90deg);
}
.num3 span{
    transform: rotate(-90deg);
}
.num4{
    transform: rotate(120deg);
}
.num4 span{
    transform: rotate(-120deg);
}
.num5{
    transform: rotate(150deg);
}
.num5 span{
    transform: rotate(-150deg);
}
.num6{
    transform: rotate(180deg);
}
.num6 span{
    transform: rotate(-180deg);
}
.num7{
    transform: rotate(210deg);
}
.num7 span{
    transform: rotate(-210deg);
}
.num8{
    transform: rotate(240deg);
}
.num8 span{
    transform: rotate(-240deg);
}
.num9{
    transform: rotate(270deg);
}
.num9 span{
    transform: rotate(-270deg);
}
.num10{
    transform: rotate(300deg);
}
.num10 span{
    transform: rotate(-300deg);
}
.num11{
    transform: rotate(330deg);
}
.num11 span{
    transform: rotate(-330deg);
}
.num12{
    transform: rotate(360deg);
}
.num12 span{
    transform: rotate(-360deg);
}